<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <style>.wf-force-outline-none[tabindex="-1"]:focus{outline:none;}
      </style>
      <meta charset="utf-8">
      <title>contribute</title>
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <meta content="Webflow" name="generator">
      <link href="https://uploads-ssl.webflow.com/625a34e91d8d5e6ee363a56b/css/contribute.webflow.da856581e.css" rel="stylesheet" type="text/css">
      <link href="https://uploads-ssl.webflow.com/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
      <link href="https://uploads-ssl.webflow.com/img/webclip.png" rel="apple-touch-icon">
   </head>
   <body>
      <h1 class="heading">Contribution</h1>
      <section id="contact-form" class="contact-form wf-section">
         <div class="w-container">
            <p>These information will be taken as a reference for your contribution</p>
            <div id="formInstructions" class="small-text"><em>Fields marked with an asterisk (*) are required.</em></div>
            <div class="w-form">
               <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Wf Form Contact Form" method="get" aria-label="Wf Form Contact Form">
                  <div class="contact-form-grid">
                     <div id="w-node-b86195af-1ef0-aee5-d60e-72b54311f3e7-9d63a56c">
                        <label for="First-Name" id="contact-first-name">First name *</label>
                        <input type="text" class="w-input" maxlength="256" name="First-Name" data-name="First Name" placeholder="" id="First-Name" required="">
                     </div>
                     <div id="w-node-b86195af-1ef0-aee5-d60e-72b54311f3eb-9d63a56c"><label for="Last-Name" id="contact-last-name">Last name *</label><input type="text" class="w-input" maxlength="256" name="Last-Name" data-name="Last Name" placeholder="" id="Last-Name" required=""></div>
                     <div id="w-node-b86195af-1ef0-aee5-d60e-72b54311f3ef-9d63a56c"><label for="Email" id="contact-email">Email *</label><input type="email" class="w-input" maxlength="256" name="Email" data-name="Email" placeholder="" id="Email" required=""></div>
                     <div id="w-node-b86195af-1ef0-aee5-d60e-72b54311f3f3-9d63a56c"><label for="Contact-Phone-Number" id="contact-phone">Phone number</label><input type="tel" class="w-input" maxlength="256" name="Contact-Phone-Number" data-name="Contact Phone Number" placeholder="" id="Contact-Phone-Number"></div>
                     <div id="w-node-b86195af-1ef0-aee5-d60e-72b54311f3f7-9d63a56c"><label for="Message" id="contact-message">Coordinates</label><textarea data-name="Message" maxlength="5000" id="Message" name="Message" placeholder="" class="w-input"></textarea></div>
                  </div>
                  <input type="submit" value="Submit" data-wait="Please wait..." class="w-button">
               </form>
         </div>
      </section>
   </body>
</html>
