<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  action="/add" method="post">
      <label>
        <span>Longitude</span>
        <input type="Number" name="longitude" step="any" >
      </label>
      <label>
        <span>Longitude</span>
        <input type="Number" name="latitude" step="any">
      </label>
      <button type="submit" >push</button>
    </form>


  </body>
</html>
