<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="hero">
      <nav>
        <img src="logo.png" class="logo">
        <ul>

          <li><a href="/reg">Login/Register</a></li>
          <li><a href="/maps">Maps</a></li>
          <li><a href="">About</a></li>

        </ul>
      </nav>
      <h1> DAMAGE AVOIDANCE <br>MAP</h1>


    </div>

  </body>
</html>
