<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Web 1280 – 1</title>
<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: Web 1280 – 1;
		--web-view-id: Web_1280__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1280__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_1280__1 {
		position: absolute;
    width: 1360px;
		height: 660px;
		background-color: rgba(0,0,0,1);
		overflow: hidden;
		--web-view-name: Web 1280 – 1;
		--web-view-id: Web_1280__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_1_h {
		fill: url(#Rectangle_1_h);
	}
	.Rectangle_1_h {
		position: absolute;
		overflow: visible;
		width: 1170px;
		height: 676px;
		left: 58px;
		top: 76px;
	}
	#Rectangle_2 {
		fill: rgba(76,68,183,1);
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 263px;
		height: 93px;
		left: 246px;
		top: 275px;
	}
	#Rectangle_4 {
		fill: rgba(76,68,183,1);
	}
	.Rectangle_4 {
		position: absolute;
		overflow: visible;
		width: 263px;
		height: 93px;
		left: 509px;
		top: 396px;
	}
	#Rectangle_5 {
		fill: rgba(219,49,49,1);
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 263px;
		height: 93px;
		left: 509px;
		top: 541px;
	}
	#Rectangle_3 {
		fill: rgba(76,68,183,1);
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 300px;
		height: 93px;
		left: 772px;
		top: 275px;
	}
	#Icon_awesome-map-marked-alt {
		fill: rgba(0,251,208,1);
		stroke: rgba(254,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Icon_awesome-map-marked-alt {
		filter: drop-shadow(0px 3px 6px rgba(255, 255, 255, 0.161));
		overflow: visible;
		position: absolute;
		width: 192.401px;
		height: 175.46px;
		left: 559.935px;
		top: 21.269px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_awesome-hands-helping {
		fill: rgba(0,176,147,1);
		stroke: rgba(0,251,208,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Icon_awesome-hands-helping {
		overflow: visible;
		position: absolute;
		width: 70.157px;
		height: 65.204px;
		left: 803.5px;
		top: 287px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_awesome-user-graduate {
		fill: rgba(0,176,147,1);
		stroke: rgba(0,176,147,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Icon_awesome-user-graduate {
		overflow: visible;
		position: absolute;
		width: 52.767px;
		height: 51.001px;
		left: 289px;
		top: 287px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_feather-map {
		position: absolute;
		width: 62.926px;
		height: 46.216px;
		left: 544.204px;
		top: 419.392px;
		overflow: visible;
	}
	#Path_1 {
		fill: transparent;
		stroke: rgba(0,251,208,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 65.926px;
		height: 49.216px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_2 {
		fill: transparent;
		stroke: rgba(0,251,208,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 3px;
		height: 27px;
		left: 20.022px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_3 {
		fill: transparent;
		stroke: rgba(0,251,208,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 3px;
		height: 27px;
		left: 42.904px;
		top: 22.216px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_feather-log-in {
		position: absolute;
		width: 31.463px;
		height: 32.576px;
		left: 544.204px;
		top: 571.212px;
		overflow: visible;
	}
	#Path_4 {
		fill: transparent;
		stroke: rgba(0,251,208,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 12px;
		height: 35.576px;
		left: 22.463px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5 {
		fill: transparent;
		stroke: rgba(0,251,208,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_5 {
		overflow: visible;
		position: absolute;
		width: 11.096px;
		height: 24.767px;
		left: 12.903px;
		top: 6px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_6 {
		fill: transparent;
		stroke: rgba(0,251,208,1);
		stroke-width: 3px;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_6 {
		overflow: visible;
		position: absolute;
		width: 21px;
		height: 3px;
		left: 0px;
		top: 16.288px;
		transform: matrix(1,0,0,1,0,0);
	}
	#USER {
		left: 365px;
		top: 287px;
		position: absolute;
		overflow: visible;
		width: 78px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		color: rgba(255,248,248,1);
	}
	#CONTRIBUTE {
		left: 883px;
		top: 298px;
		position: absolute;
		overflow: visible;
		width: 145px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(255,248,248,1);
	}
	#MAPS {
		left: 628px;
		top: 424px;
		position: absolute;
		overflow: visible;
		width: 75px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		color: rgba(255,248,248,1);
	}
	#LOG_OUT {
		left: 607px;
		top: 571px;
		position: absolute;
		overflow: visible;
		width: 112px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 27px;
		color: rgba(255,248,248,1);
	}
	#DAM {
		left: 582px;
		top: 192px;
		position: absolute;
		overflow: visible;
		width: 153px;
		white-space: nowrap;
		text-align: left;
		font-family: Kristen ITC;
		font-style: normal;
		font-weight: normal;
		font-size: 53px;
		color: rgba(255,248,248,1);
	}
</style>

</head>
<body>
<div id="Web_1280__1">

	<svg class="Rectangle_1_h">
		<linearGradient id="Rectangle_1_h" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
			<stop offset="0" stop-color="#fff5f5" stop-opacity="0"></stop>
			<stop offset="1" stop-color="#292727" stop-opacity="0.522"></stop>
		</linearGradient>
		<rect id="Rectangle_1_h" rx="87" ry="87" x="0" y="0" width="1170" height="676">
		</rect>
	</svg>

  <!-- USER DETAILS PAGE -->
  <form  action="/user" method="post">
    <button type="submit" name="button1">
    	<svg class="Rectangle_2">
    		<rect id="Rectangle_2" rx="46.5" ry="46.5" x="0" y="0" width="263" height="93">
    		</rect>
    	</svg>
      </button>
  </form>

<!-- MAPS FOR PEOPLE -->
<form  action="/maps" method="post">
  <button type="submit" name="button2">
    <svg class="Rectangle_4">
  		<rect id="Rectangle_4" rx="46.5" ry="46.5" x="0" y="0" width="263" height="93">
  		</rect>
  	</svg>
  </button>
</form>

<!-- LOGOUT  -->
<form  action="/logout" method="post">
  <button type="submit" name="button3">
    <svg class="Rectangle_5">
      <rect id="Rectangle_5" rx="46.5" ry="46.5" x="0" y="0" width="263" height="93">
      </rect>
    </svg>
  </button>
</form>

  <!-- CONTRIBUTE -->
<form  action="/aux" method="post">
  <button type="submit" name="button4">
    <svg class="Rectangle_3">
  		<rect id="Rectangle_3" rx="46.5" ry="46.5" x="0" y="0" width="300" height="93">
  		</rect>
  	</svg>
  </button>
</form>




	<svg class="Icon_awesome-map-marked-alt" viewBox="0 0 173.401 156.217">
		<path id="Icon_awesome-map-marked-alt" d="M 86.700439453125 0 C 65.75083160400391 0 48.76899337768555 17.21138381958008 48.76899337768555 38.44414901733398 C 48.76899337768555 55.60976409912109 73.55989837646484 86.89598083496094 83.05781555175781 98.25225830078125 C 84.98148345947266 100.5528106689453 88.42240142822266 100.5528106689453 90.34305572509766 98.25225830078125 C 99.84097290039062 86.89598083496094 124.6318664550781 55.60976409912109 124.6318664550781 38.44414901733398 C 124.6318664550781 17.21138381958008 107.650032043457 0 86.700439453125 0 Z M 86.700439453125 51.25886535644531 C 79.71623229980469 51.25886535644531 74.05662536621094 45.52275085449219 74.05662536621094 38.44414901733398 C 74.05662536621094 31.36553955078125 79.71623229980469 25.62943267822266 86.700439453125 25.62943267822266 C 93.68463897705078 25.62943267822266 99.34424591064453 31.36554336547852 99.34424591064453 38.44414901733398 C 99.34424591064453 45.52275085449219 93.68463897705078 51.25886535644531 86.700439453125 51.25886535644531 Z M 6.056989192962646 65.88899993896484 C 2.399522304534912 67.37165832519531 0.0008789000567048788 70.96145629882812 0 74.95388031005859 L 0 151.32958984375 C 0 154.7834625244141 3.440923452377319 157.1450347900391 6.60488748550415 155.8635711669922 L 48.16690826416016 136.6903076171875 L 48.16690826416016 65.57472991943359 C 45.50568389892578 60.69903945922852 43.32914352416992 55.95149612426758 41.76974105834961 51.41142272949219 L 6.056989192962646 65.88899993896484 Z M 86.700439453125 109.7397308349609 C 82.46475982666016 109.7397308349609 78.45787811279297 107.8541412353516 75.70934295654297 104.5650329589844 C 69.79084014892578 97.48642730712891 63.49602127075195 89.42536163330078 57.80029296875 81.15682220458984 L 57.80029296875 136.687255859375 L 115.6005859375 156.2144470214844 L 115.6005859375 81.15986633300781 C 109.9048461914062 89.42536163330078 103.6130447387695 97.48947143554688 97.69152069091797 104.5680923461914 C 94.94300079345703 107.8541412353516 90.93611145019531 109.7397308349609 86.700439453125 109.7397308349609 Z M 166.7959747314453 49.17189788818359 L 125.2339630126953 68.34515380859375 L 125.2339630126953 156.2174987792969 L 167.3438720703125 139.1464691162109 C 171.0019073486328 137.6644897460938 173.4008331298828 134.0742492675781 173.40087890625 130.0815734863281 L 173.40087890625 53.70586776733398 C 173.40087890625 50.25199508666992 169.9599304199219 47.89042663574219 166.7959747314453 49.17189788818359 Z">
		</path>
	</svg>
	<svg class="Icon_awesome-hands-helping" viewBox="-0.002 0.002 68.79 64.181">
		<path id="Icon_awesome-hands-helping" d="M 52.45303344726562 24.06866264343262 L 36.1154670715332 24.06866264343262 L 36.1154670715332 31.08903884887695 C 36.1154670715332 36.06599044799805 32.64373397827148 40.11523818969727 28.37661933898926 40.11523818969727 C 24.10950469970703 40.11523818969727 20.63777351379395 36.06599044799805 20.63777351379395 31.08903884887695 L 20.63777351379395 15.84479522705078 L 13.66206169128418 20.73398399353027 C 11.58762168884277 22.17566680908203 10.31931018829346 24.7957706451416 10.31931018829346 27.60392379760742 L 10.31931018829346 33.53363800048828 L 1.72059154510498 39.32544708251953 C 0.07608645409345627 40.42864608764648 -0.4935787320137024 42.88577651977539 0.4630288183689117 44.8038444519043 L 9.061748504638672 62.17927551269531 C 10.00760746002197 64.09733581542969 12.11429405212402 64.74922943115234 13.75879859924316 63.64603424072266 L 24.87264251708984 56.16181564331055 L 39.55495452880859 56.16181564331055 C 43.34914016723633 56.16181564331055 46.43392944335938 52.56386947631836 46.43392944335938 48.13852310180664 L 48.15367889404297 48.13852310180664 C 50.05613708496094 48.13852310180664 51.59316253662109 46.34582138061523 51.59316253662109 44.12688064575195 L 51.59316253662109 36.10359573364258 L 52.45303344726562 36.10359573364258 C 53.88257217407227 36.10359573364258 55.03264617919922 34.76219940185547 55.03264617919922 33.09486389160156 L 55.03264617919922 27.07739639282227 C 55.03264617919922 25.41005516052246 53.88257217407227 24.06866264343262 52.45303344726562 24.06866264343262 Z M 68.32840728759766 19.38005447387695 L 59.72969818115234 2.004630088806152 C 58.78384780883789 0.0865635871887207 56.67715835571289 -0.5653283596038818 55.03264617919922 0.537873387336731 L 43.91880035400391 8.0220947265625 L 32.93394088745117 8.0220947265625 C 31.64413070678711 8.0220947265625 30.38656616210938 8.448330879211426 29.29023361206055 9.238123893737793 L 25.68951988220215 11.85822772979736 C 24.67916870117188 12.58533668518066 24.0772590637207 13.87658500671387 24.0772590637207 15.25558567047119 L 24.0772590637207 31.08903884887695 C 24.0772590637207 33.85958099365234 26.00122451782227 36.10359573364258 28.37661933898926 36.10359573364258 C 30.75201416015625 36.10359573364258 32.67597579956055 33.85958099365234 32.67597579956055 31.08903884887695 L 32.67597579956055 20.0570182800293 L 52.45303344726562 20.0570182800293 C 55.77428817749023 20.0570182800293 58.47213745117188 23.20365142822266 58.47213745117188 27.07739639282227 L 58.47213745117188 30.65026473999023 L 67.07086181640625 24.85845184326172 C 68.71536254882812 23.74271583557129 69.27427673339844 21.29812049865723 68.32840728759766 19.38005256652832 Z">
		</path>
	</svg>
	<svg class="Icon_awesome-user-graduate" viewBox="0 -0.002 51.767 49.997">
		<path id="Icon_awesome-user-graduate" d="M 36.90731811523438 31.30559730529785 L 25.88365173339844 40.62091064453125 L 14.85999011993408 31.30559730529785 C 6.598021030426025 31.60829734802246 0 37.32051849365234 0 44.37047576904297 L 0 45.30786514282227 C 0 47.89544677734375 2.484368562698364 49.99481582641602 5.546497344970703 49.99481582641602 L 46.22080993652344 49.99481582641602 C 49.28293991088867 49.99481582641602 51.76730346679688 47.89544677734375 51.76730346679688 45.30786514282227 L 51.76730346679688 44.37047576904297 C 51.76730346679688 37.32051849365234 45.16928863525391 31.60829734802246 36.90731811523438 31.30560111999512 Z M 1.571507453918457 7.792737483978271 L 2.31104040145874 7.939204216003418 L 2.31104040145874 13.64166069030762 C 1.502176284790039 14.05176830291748 0.924416184425354 14.76457500457764 0.924416184425354 15.62384796142578 C 0.924416184425354 16.44406318664551 1.455955505371094 17.12757682800293 2.207043409347534 17.54744911193848 L 0.4044320583343506 23.6307201385498 C 0.2079936563968658 24.30447006225586 0.6470913887023926 24.99774742126465 1.282627463340759 24.99774742126465 L 6.112702369689941 24.99774742126465 C 6.748237609863281 24.99774742126465 7.18733549118042 24.30447006225586 6.990897178649902 23.6307201385498 L 5.188285827636719 17.54744911193848 C 5.939373970031738 17.12757682800293 6.470912933349609 16.44406318664551 6.470912933349609 15.62384796142578 C 6.470912933349609 14.76457500457764 5.893153190612793 14.05176734924316 5.084289073944092 13.64166069030762 L 5.084289073944092 8.505544662475586 L 12.71072292327881 10.05809593200684 C 11.71697521209717 11.73758602142334 11.09299468994141 13.61236572265625 11.09299468994141 15.62384796142578 C 11.09299468994141 22.52733421325684 17.71412467956543 28.12237930297852 25.88365173339844 28.12237930297852 C 34.05318069458008 28.12237930297852 40.67431259155273 22.52733421325684 40.67431259155273 15.62384796142578 C 40.67431259155273 13.61236572265625 40.06188583374023 11.73758602142334 39.05658340454102 10.05809593200684 L 50.18424224853516 7.792737483978271 C 52.28729248046875 7.363100528717041 52.28729248046875 5.146563529968262 50.18424224853516 4.716926574707031 L 28.18314170837402 0.2252663969993591 C 26.68096542358398 -0.07743242383003235 25.097900390625 -0.07743242383003235 23.59572410583496 0.2252663969993591 L 1.571507453918457 4.707161426544189 C -0.5199840068817139 5.136798858642578 -0.5199840068817139 7.363099575042725 1.571507453918457 7.792736530303955 Z">
		</path>
	</svg>
	<div id="Icon_feather-map">
		<svg class="Path_1" viewBox="1.5 3 62.926 46.216">
			<path id="Path_1" d="M 1.5 12.24318218231201 L 1.5 49.21591567993164 L 21.52193641662598 39.97273254394531 L 44.40415191650391 49.21591567993164 L 64.42608642578125 39.97273254394531 L 64.42608642578125 3.000000476837158 L 44.40415191650391 12.24318218231201 L 21.52193641662598 3.000000476837158 L 1.5 12.24318218231201 Z">
			</path>
		</svg>
		<svg class="Path_2" viewBox="12 3 3 24">
			<path id="Path_2" d="M 12 3 L 12 27">
			</path>
		</svg>
		<svg class="Path_3" viewBox="24 9 3 24">
			<path id="Path_3" d="M 24 9 L 24 33">
			</path>
		</svg>
	</div>
	<div id="Icon_feather-log-in">
		<svg class="Path_4" viewBox="22.5 4.5 9 32.576">
			<path id="Path_4" d="M 22.5 4.5 L 28.5 4.5 C 30.1568546295166 4.5 31.5 6.120512008666992 31.5 8.119513511657715 L 31.5 33.45610809326172 C 31.5 35.45511245727539 30.1568546295166 37.07562255859375 28.5 37.07562255859375 L 22.5 37.07562255859375">
			</path>
		</svg>
		<svg class="Path_5" viewBox="15 10.5 7.5 20.576">
			<path id="Path_5" d="M 15 31.07562255859375 L 22.5 20.78780937194824 L 15 10.50000095367432">
			</path>
		</svg>
		<svg class="Path_6" viewBox="4.5 18 18 3">
			<path id="Path_6" d="M 22.5 18 L 4.5 18">
			</path>
		</svg>
	</div>
	<div id="USER">
		<span>USER</span>
	</div>
	<div id="CONTRIBUTE">
		<span>CONTRIBUTE</span>
	</div>
	<div id="MAPS">
		<span>MAPS</span>
	</div>
	<div id="LOG_OUT">
		<span>LOG OUT</span>
	</div>
	<div id="DAM">
		<span>DAM</span>
	</div>
</div>
</body>
</html>
