<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Web 1280 – 1</title>
<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: Web 1280 – 1;
		--web-view-id: Web_1280__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1280__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_1280__1 {
		position: absolute;
		width: 1360px;
		height: 660px;
		background-color: rgba(0,0,0,0.412);
		overflow: hidden;
		--web-view-name: Web 1280 – 1;
		--web-view-id: Web_1280__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_1 {
		fill: rgba(180,176,176,0.459);
	}
	.Rectangle_1 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
		position: absolute;
		overflow: visible;
		width: 1224px;
		height: 729px;
		left: 41px;
		top: 45px;
	}
	#Group_3 {
		position: absolute;
		width: 374.933px;
		height: 518px;
		left: 248.067px;
		top: 136px;
		overflow: visible;
	}
	#Rectangle_5 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 36px;
		left: 33.208px;
		top: 333px;
	}
	#Group_2 {
		position: absolute;
		width: 374.933px;
		height: 518px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_9 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_9 {
		width: 8.175px;
		height: 7px;
		position: absolute;
		overflow: visible;
		transform: translate(-248.792px, -141px) matrix(1,0,0,1,612.944,395.5273) rotate(-17deg);
		transform-origin: center;
	}
	#Group_1 {
		position: absolute;
		width: 374.933px;
		height: 518px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_2 {
		fill: rgba(93,71,246,1);
	}
	.Rectangle_2 {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
		position: absolute;
		overflow: visible;
		width: 359px;
		height: 536px;
		left: 33.208px;
		top: 0px;
	}
	#Rectangle_3 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 341px;
		height: 185px;
		left: 33.208px;
		top: 333px;
	}
	#Rectangle_4 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_4 {
		width: 307.699px;
		height: 174.172px;
		position: absolute;
		overflow: visible;
		transform: translate(-248.792px, -141px) matrix(1,0,0,1,298.9532,437.67) rotate(-13deg);
		transform-origin: center;
	}
	#Rectangle_6 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_6 {
		width: 48.581px;
		height: 38.352px;
		position: absolute;
		overflow: visible;
		transform: translate(-248.792px, -141px) matrix(1,0,0,1,570.2832,402.2027) rotate(-15deg);
		transform-origin: center;
	}
	#Rectangle_7 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_7 {
		position: absolute;
		overflow: visible;
		width: 41px;
		height: 74px;
		left: 332.208px;
		top: 295px;
	}
	#Rectangle_8 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_8 {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 25px;
		left: 357.208px;
		top: 280px;
	}
	#Rectangle_10 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_10 {
		position: absolute;
		overflow: visible;
		width: 9px;
		height: 122px;
		left: 365.208px;
		top: 253px;
	}
	#Polygon_1 {
		fill: rgba(93,71,246,1);
	}
	.Polygon_1 {
		overflow: visible;
		position: absolute;
		width: 343.764px;
		height: 247.996px;
		transform: translate(-248.792px, -141px) matrix(1,0,0,1,264.3764,203.2897) rotate(-8deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#NoPath {
		position: absolute;
		width: 263px;
		height: 263px;
		left: 322px;
		top: 163px;
		overflow: visible;
	}
	#NoPath_v {
		position: absolute;
		width: 263px;
		height: 263px;
		left: 789px;
		top: 163px;
		overflow: visible;
	}
	#Path_1 {
		fill: rgba(93,71,246,1);
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 38px;
		height: 50px;
		left: 585px;
		top: 376px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_4 {
		position: absolute;
		width: 374.933px;
		height: 518px;
		left: 732.792px;
		top: 141px;
		overflow: visible;
	}
	#Rectangle_5_y {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_5_y {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 36px;
		left: 33.208px;
		top: 333px;
	}
	#Group_2_z {
		position: absolute;
		width: 374.933px;
		height: 518px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_9_ {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_9_ {
		width: 8.175px;
		height: 7px;
		position: absolute;
		overflow: visible;
		transform: translate(-248.792px, -141px) matrix(1,0,0,1,612.944,395.5273) rotate(-17deg);
		transform-origin: center;
	}
	#Group_1_ {
		position: absolute;
		width: 374.933px;
		height: 518px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_2_ {
		fill: rgba(93,71,246,1);
	}
	.Rectangle_2_ {
		filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
		position: absolute;
		overflow: visible;
		width: 359px;
		height: 536px;
		left: 33.208px;
		top: 0px;
	}
	#Rectangle_3_ {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_3_ {
		position: absolute;
		overflow: visible;
		width: 341px;
		height: 185px;
		left: 33.208px;
		top: 333px;
	}
	#Rectangle_4_ {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_4_ {
		width: 307.699px;
		height: 174.172px;
		position: absolute;
		overflow: visible;
		transform: translate(-248.792px, -141px) matrix(1,0,0,1,298.9532,437.67) rotate(-13deg);
		transform-origin: center;
	}
	#Rectangle_6_ {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_6_ {
		width: 48.581px;
		height: 38.352px;
		position: absolute;
		overflow: visible;
		transform: translate(-248.792px, -141px) matrix(1,0,0,1,570.2832,402.2027) rotate(-15deg);
		transform-origin: center;
	}
	#Rectangle_7_ {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_7_ {
		position: absolute;
		overflow: visible;
		width: 41px;
		height: 74px;
		left: 332.208px;
		top: 295px;
	}
	#Rectangle_8_ {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_8_ {
		position: absolute;
		overflow: visible;
		width: 16px;
		height: 25px;
		left: 357.208px;
		top: 280px;
	}
	#Rectangle_10_ {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_10_ {
		position: absolute;
		overflow: visible;
		width: 9px;
		height: 122px;
		left: 365.208px;
		top: 253px;
	}
	#Polygon_1_ {
		fill: rgba(93,71,246,1);
	}
	.Polygon_1_ {
		overflow: visible;
		position: absolute;
		width: 343.764px;
		height: 247.996px;
		transform: translate(-248.792px, -141px) matrix(1,0,0,1,264.3764,203.2897) rotate(-8deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Rectangle_11 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_11 {
		position: absolute;
		overflow: visible;
		width: 13px;
		height: 37px;
		left: 766px;
		top: 474px;
	}
	#Rectangle_12 {
		fill: rgba(93,71,246,1);
	}
	.Rectangle_12 {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 62px;
		left: 1078px;
		top: 364px;
	}
	#Rectangle_13 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_13 {
		position: absolute;
		overflow: visible;
		width: 13px;
		height: 37px;
		left: 283px;
		top: 475px;
	}
	#Icon_material-verified-user {
		fill: rgba(12,255,150,1);
	}
	.Icon_material-verified-user {
		overflow: visible;
		position: absolute;
		width: 27px;
		height: 33px;
		left: 345px;
		top: 493px;
		transform: matrix(1,0,0,1,0,0);
	}
	#NAME {
		left: 401px;
		top: 494px;
		position: absolute;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Icon_material-email {
		fill: rgba(12,255,150,1);
	}
	.Icon_material-email {
		overflow: visible;
		position: absolute;
		width: 30px;
		height: 24px;
		left: 345px;
		top: 552px;
		transform: matrix(1,0,0,1,0,0);
	}
	#EMAIL_____________ {
		left: 401px;
		top: 551px;
		position: absolute;
		overflow: visible;
		width: 133px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 15;
		color: rgba(0,0,0,1);
	}
	#Rectangle_14_bi {
		fill: url(#Rectangle_14_bi);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_14_bi {
		position: absolute;
		overflow: visible;
		width: 385px;
		height: 52px;
		left: 449px;
		top: 72px;
	}
	#Icon_awesome-phone {
		fill: rgba(12,255,150,1);
	}
	.Icon_awesome-phone {
		overflow: visible;
		position: absolute;
		width: 28.581px;
		height: 28.767px;
		left: 856.258px;
		top: 487.233px;
		transform: matrix(1,0,0,1,0,0);
	}
	#MOBILE_number {
		left: 903px;
		top: 489px;
		position: absolute;
		overflow: visible;
		width: 155px;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Icon_awesome-coins {
		fill: rgba(12,255,150,1);
	}
	.Icon_awesome-coins {
		overflow: visible;
		position: absolute;
		width: 36px;
		height: 36px;
		left: 856px;
		top: 540px;
		transform: matrix(1,0,0,1,0,0);
	}
	#COins_Earned {
		left: 903px;
		top: 544px;
		position: absolute;
		overflow: visible;
		width: 125px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#NoPath_bn {
		position: absolute;
		width: 263px;
		height: 263px;
		left: 808px;
		top: 159px;
		overflow: visible;
	}
	#Personal_Details {
		left: 543px;
		top: 81px;
		position: absolute;
		overflow: visible;
		width: 196px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 26px;
		color: rgba(12,236,49,1);
	}
</style>

</head>
<body>
<div id="Web_1280__1">
	<svg class="Rectangle_1">
		<rect id="Rectangle_1" rx="155" ry="155" x="0" y="0" width="1206" height="711">
		</rect>
	</svg>
	<div id="Group_3">
		<svg class="Rectangle_5">
			<rect id="Rectangle_5" rx="0" ry="0" x="0" y="0" width="30" height="36">
			</rect>
		</svg>
		<div id="Group_2">
			<svg class="Rectangle_9">
				<rect id="Rectangle_9" rx="0" ry="0" x="0" y="0" width="8.175" height="7">
				</rect>
			</svg>
			<div id="Group_1">
				<svg class="Rectangle_2">
					<rect id="Rectangle_2" rx="41" ry="41" x="0" y="0" width="341" height="518">
					</rect>
				</svg>
				<svg class="Rectangle_3">
					<rect id="Rectangle_3" rx="41" ry="41" x="0" y="0" width="341" height="185">
					</rect>
				</svg>
				<svg class="Rectangle_4">
					<rect id="Rectangle_4" rx="0" ry="0" x="0" y="0" width="307.699" height="174.172">
					</rect>
				</svg>
				<svg class="Rectangle_6">
					<rect id="Rectangle_6" rx="0" ry="0" x="0" y="0" width="48.581" height="38.352">
					</rect>
				</svg>
				<svg class="Rectangle_7">
					<rect id="Rectangle_7" rx="0" ry="0" x="0" y="0" width="41" height="74">
					</rect>
				</svg>
				<svg class="Rectangle_8">
					<rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="16" height="25">
					</rect>
				</svg>
				<svg class="Rectangle_10">
					<rect id="Rectangle_10" rx="0" ry="0" x="0" y="0" width="9" height="122">
					</rect>
				</svg>
				<svg class="Polygon_1" viewBox="0 0 343.764 247.996">
					<path id="Polygon_1" d="M 171.8819732666016 0 L 343.7639770507812 247.9956665039062 L 0 247.9956665039062 Z">
					</path>
				</svg>
			</div>
		</div>
	</div>
	<img id="NoPath" src="NoPath.png" srcset="NoPath.png 1x, NoPath@2x.png 2x">

	<img id="NoPath_v" src="NoPath_v.png" srcset="NoPath_v.png 1x, NoPath_v@2x.png 2x">

	<svg class="Path_1" viewBox="0 0 38 50">
		<path id="Path_1" d="M 0 0 L 38 0 L 38 50 L 0 50 L 0 0 Z">
		</path>
	</svg>
	<div id="Group_4">
		<svg class="Rectangle_5_y">
			<rect id="Rectangle_5_y" rx="0" ry="0" x="0" y="0" width="30" height="36">
			</rect>
		</svg>
		<div id="Group_2_z">
			<svg class="Rectangle_9_">
				<rect id="Rectangle_9_" rx="0" ry="0" x="0" y="0" width="8.175" height="7">
				</rect>
			</svg>
			<div id="Group_1_">
				<svg class="Rectangle_2_">
					<rect id="Rectangle_2_" rx="41" ry="41" x="0" y="0" width="341" height="518">
					</rect>
				</svg>
				<svg class="Rectangle_3_">
					<rect id="Rectangle_3_" rx="41" ry="41" x="0" y="0" width="341" height="185">
					</rect>
				</svg>
				<svg class="Rectangle_4_">
					<rect id="Rectangle_4_" rx="0" ry="0" x="0" y="0" width="307.699" height="174.172">
					</rect>
				</svg>
				<svg class="Rectangle_6_">
					<rect id="Rectangle_6_" rx="0" ry="0" x="0" y="0" width="48.581" height="38.352">
					</rect>
				</svg>
				<svg class="Rectangle_7_">
					<rect id="Rectangle_7_" rx="0" ry="0" x="0" y="0" width="41" height="74">
					</rect>
				</svg>
				<svg class="Rectangle_8_">
					<rect id="Rectangle_8_" rx="0" ry="0" x="0" y="0" width="16" height="25">
					</rect>
				</svg>
				<svg class="Rectangle_10_">
					<rect id="Rectangle_10_" rx="0" ry="0" x="0" y="0" width="9" height="122">
					</rect>
				</svg>
				<svg class="Polygon_1_" viewBox="0 0 343.764 247.996">
					<path id="Polygon_1_" d="M 171.8819732666016 0 L 343.7639770507812 247.9956665039062 L 0 247.9956665039062 Z">
					</path>
				</svg>
			</div>
		</div>
	</div>
	<svg class="Rectangle_11">
		<rect id="Rectangle_11" rx="0" ry="0" x="0" y="0" width="13" height="37">
		</rect>
	</svg>
	<svg class="Rectangle_12">
		<rect id="Rectangle_12" rx="0" ry="0" x="0" y="0" width="30" height="62">
		</rect>
	</svg>
	<svg class="Rectangle_13">
		<rect id="Rectangle_13" rx="0" ry="0" x="0" y="0" width="13" height="37">
		</rect>
	</svg>
	<svg class="Icon_material-verified-user" viewBox="4.5 1.5 27 33">
		<path id="Icon_material-verified-user" d="M 18 1.5 L 4.5 7.5 L 4.5 16.5 C 4.5 24.82500076293945 10.26000022888184 32.61000061035156 18 34.5 C 25.73999977111816 32.61000061035156 31.5 24.82500076293945 31.5 16.5 L 31.5 7.5 L 18 1.5 Z M 15 25.5 L 9 19.5 L 11.11499977111816 17.38500022888184 L 15 21.2549991607666 L 24.88500022888184 11.36999893188477 L 27 13.5 L 15 25.5 Z">
		</path>
	</svg>
	<div id="NAME">
		<span><%=Arr[0]%> </span>
	</div>
	<svg class="Icon_material-email" viewBox="3 6 30 24">
		<path id="Icon_material-email" d="M 30 6 L 6 6 C 4.349999904632568 6 3.015000104904175 7.349999904632568 3.015000104904175 9 L 3 27 C 3 28.64999961853027 4.349999904632568 30 6 30 L 30 30 C 31.64999961853027 30 33 28.64999961853027 33 27 L 33 9 C 33 7.349999904632568 31.64999961853027 6 30 6 Z M 30 12 L 18 19.5 L 6 12 L 6 9 L 18 16.5 L 30 9 L 30 12 Z">
		</path>
	</svg>
	<div id="EMAIL_____________">
		<span><%=Arr[1]%>           </span>
	</div>
	<svg class="Rectangle_14_bi">
		<linearGradient id="Rectangle_14_bi" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
			<stop offset="0" stop-color="#000" stop-opacity="0.141"></stop>
			<stop offset="1" stop-color="#545454" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Rectangle_14_bi" rx="26" ry="26" x="0" y="0" width="385" height="52">
		</rect>
	</svg>
	<svg class="Icon_awesome-phone" viewBox="-0.001 -0.001 28.581 28.767">
		<path id="Icon_awesome-phone" d="M 27.54240036010742 1.382004499435425 L 21.73691749572754 0.03355833515524864 C 21.10612869262695 -0.1125233173370361 20.45859336853027 0.2189696878194809 20.20181465148926 0.8145334124565125 L 17.52236175537109 7.107281684875488 C 17.28790855407715 7.657896995544434 17.44421005249023 8.30402660369873 17.90753173828125 8.680468559265137 L 21.29034233093262 11.46725654602051 C 19.28075218200684 15.77666473388672 15.76955032348633 19.36128425598145 11.39869213104248 21.42328643798828 L 8.629922866821289 18.01846122741699 C 8.250333786010742 17.5521240234375 7.61396312713623 17.39480400085449 7.066908359527588 17.63078117370605 L 0.8148496747016907 20.32767295837402 C 0.2175546288490295 20.59174346923828 -0.1117948591709137 21.24349212646484 0.03334220871329308 21.87838363647461 L 1.373068809509277 27.72165107727051 C 1.51262366771698 28.32844924926758 2.048514366149902 28.76669692993164 2.679302453994751 28.76669692993164 C 16.97530364990234 28.76669692993164 28.5806884765625 17.10825729370117 28.5806884765625 2.696739196777344 C 28.5806884765625 2.067464590072632 28.15085983276367 1.522467613220215 27.54240036010742 1.382004499435425 Z">
		</path>
	</svg>
	<div id="MOBILE_number">
		<span><%=Arr[2]%> </span>
	</div>
	<svg class="Icon_awesome-coins" viewBox="0 0 36 36">
		<path id="Icon_awesome-coins" d="M 0 28.49765586853027 L 0 31.5 C 0 33.98203277587891 6.046875 36 13.5 36 C 20.953125 36 27 33.98203277587891 27 31.5 L 27 28.49765586853027 C 24.09609413146973 30.54375076293945 18.78750038146973 31.5 13.5 31.5 C 8.212499618530273 31.5 2.903906345367432 30.54375076293945 0 28.49765586853027 Z M 22.5 9 C 29.953125 9 36 6.982031345367432 36 4.5 C 36 2.017968654632568 29.953125 0 22.5 0 C 15.046875 0 9 2.017968654632568 9 4.5 C 9 6.982031345367432 15.046875 9 22.5 9 Z M 0 21.12187576293945 L 0 24.75 C 0 27.23203086853027 6.046875 29.25 13.5 29.25 C 20.953125 29.25 27 27.23203086853027 27 24.75 L 27 21.12187576293945 C 24.09609413146973 23.51250076293945 18.78046798706055 24.75 13.5 24.75 C 8.219532012939453 24.75 2.903906345367432 23.51250076293945 0 21.12187576293945 Z M 29.25 21.89531326293945 C 33.27890777587891 21.11484527587891 36 19.66640663146973 36 18 L 36 14.99765586853027 C 34.36875152587891 16.15078163146973 31.97109413146973 16.93828010559082 29.25 17.42343711853027 L 29.25 21.89531326293945 Z M 13.5 11.25 C 6.046875 11.25 0 13.76718711853027 0 16.875 C 0 19.98281288146973 6.046875 22.5 13.5 22.5 C 20.953125 22.5 27 19.98281288146973 27 16.875 C 27 13.76718711853027 20.953125 11.25 13.5 11.25 Z M 28.91953086853027 15.20859336853027 C 33.13828277587891 14.44921875 36 12.95859336853027 36 11.25 L 36 8.247655868530273 C 33.50390625 10.01249980926514 29.21484375 10.96171855926514 24.70078086853027 11.18671798706055 C 26.77499961853027 12.19218635559082 28.30078125 13.54218673706055 28.91953086853027 15.20859336853027 Z">
		</path>
	</svg>
	<div id="COins_Earned">
		<span>COins Earned</span>
	</div>
	<img id="NoPath_bn" src="NoPath_bn.png" srcset="NoPath_bn.png 1x, NoPath_bn@2x.png 2x">

	<div id="Personal_Details">
		<span>Personal Details</span>
	</div>
</div>
</body>
</html>
